# CS 4661 Homework 3

#### Vidushi Dikshit(CIN: 305064011 )

#### Chittaksh Khadse(CIN: 305058538 )

### Que 1 - Read the dataset file “Credit.csv” (you should download it from CSNS), and assign it to a Pandas DataFrame.

### Que 2 - Check out the dataset. The “Credit” dataset includes “balance” column (average credit card debt for a number of individuals) as target as well as several features: age, cards (number of credit cards), education (years of education), income (in thousands of dollars), limit (credit limit), marital status, and rating (credit rating).

In [1]:
import pandas as pd
import numpy as np
from sklearn import metrics
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import cross_val_score
from sklearn.metrics import accuracy_score

In [2]:
credit_df = pd.read_csv("https://raw.githubusercontent.com/vidushidikshit/Machine_Learning/master/Credit.csv")
credit_df.head()

    Income  Limit  Rating  Cards  Age  Education  Married  Balance
0   14.891   3606     283      2   34         11        1      333
1  106.025   6645     483      3   82         15        1      903
2  104.593   7075     514      4   71         11        0      580
3  148.924   9504     681      3   36         11        0      964
4   55.882   4897     357      2   68         16        1      331

### Que 3 - Generate the feature matrix and target vector (target is “balance” in this dataset). Then, normalize (scale) the features (note: don’t normalize the target vector!).

In [3]:
feature_cols=['Income','Limit','Rating','Cards','Age','Education','Married']
X = credit_df[feature_cols]
X.head()

    Income  Limit  Rating  Cards  Age  Education  Married
0   14.891   3606     283      2   34         11        1
1  106.025   6645     483      3   82         15        1
2  104.593   7075     514      4   71         11        0
3  148.924   9504     681      3   36         11        0
4   55.882   4897     357      2   68         16        1

In [4]:
y = credit_df['Balance']
y.head()

0    333
1    903
2    580
3    964
4    331
Name: Balance, dtype: int64

In [5]:
for f in feature_cols:
    max_faeture =credit_df[f].max()
    credit_df[f] =  credit_df[f]/max_faeture
X = credit_df[feature_cols]
X.head()

     Income     Limit    Rating     Cards       Age  Education  Married
0  0.079787  0.259182  0.288187  0.222222  0.346939       0.55      1.0
1  0.568090  0.477611  0.491853  0.333333  0.836735       0.75      1.0
2  0.560418  0.508517  0.523422  0.444444  0.724490       0.55      0.0
3  0.797947  0.683102  0.693483  0.333333  0.367347       0.55      0.0
4  0.299420  0.351973  0.363544  0.222222  0.693878       0.80      1.0

### Que 4 - Split the dataset into testing and training sets with the following parameters: test_size=0.2, random_state=2.

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [7]:
# print the size of the traning set:
print(X_train.shape)
print(y_train.shape)

# print the size of the testing set:
print(X_test.shape)
print(y_test.shape)

(320, 7)
(320,)
(80, 7)
(80,)

### Que 5 - Use Linear Regression to train a linear model on the training set. Check the coefficients of the linear regression model. Which feature is the most important? Which feature is the least important?

In [8]:
credit_linreg = LinearRegression()
credit_linreg.fit(X_train , y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [9]:
print(credit_linreg.intercept_)

print(credit_linreg.coef_)

-451.390136282
[-1413.47222539  1357.75410875  2441.3004289    103.52548744  -102.02433542
    40.34044338   -48.45522561]

#### From the results above Rating is the most important feature and Income is the least important feature

### Que 6 - Predict “balance” for the users in testing set. Then, compare the predicted balance with the actual balance by calculating and reporting the RMSE (as we saw in lab tutorial 4).

In [10]:
y_prediction = credit_linreg.predict(X_test)

print(y_prediction)

[  187.83259081   696.19359653  1008.45870602   602.54553619  1005.89421809
   689.53276161   912.63981066   265.93761365   921.40430581  1097.28246448
   561.24806805   347.10203229   793.92182702   133.99552456   831.68509878
   154.29201659  1391.55139882  -127.61911507   946.8333401    719.02865483
   593.49954528    82.58696538    75.58160302   -69.92762404   480.22371194
  -153.93316298   290.58134942   588.66521868   908.95132202   887.83016569
  -215.31132242   421.56659575    31.96584993  -265.81389094   925.49231108
  1229.55288913   382.92814713   934.30680369  1763.56079475   845.73667161
   810.02069387   502.35960813   380.43477228   448.20831629   673.02981403
   492.00309225   589.86815721  1092.19775167   521.63311942   689.99089979
   799.4973836    265.38602315  1542.56678822  1188.82234981   303.81822799
   848.83393296  -152.65676468   634.77873681   266.10574461   828.42364016
   400.56060336   571.89835366   -15.19680339   982.77736906  -194.71974119
   751.71775232   486.69746454   333.10675258  1063.15591078   972.70541837
   -80.21890573   597.37341198   708.83693482   397.51259999   623.49553554
   997.69797824   614.01791858   655.87801862   519.98827377   407.09335709]

### Que 7 - Now, use 10-fold Cross-Validation to evaluate the performance of a linear regression in predicting the balance. Thus, rather than splitting the dataset into testing and training, use Cross-Validation to evaluate the regression performance. What is the RMSE when you use cross validation?

In [12]:
# Calculating "Mean Square Error" (MSE):
mse = metrics.mean_squared_error(y_test, y_prediction)

# Using numpy sqrt function to take the square root and calculate "Root Mean Square Error" (RMSE)
rmse = np.sqrt(mse)

print(rmse)

154.410746767

In [13]:
accuracy_list = cross_val_score(credit_linreg, X, y, cv=10, scoring='mean_squared_error')

print(accuracy_list)

[-23646.90415343 -32003.04401232 -35462.64435619 -37327.60719635
 -14341.32205939 -33628.37104224 -31631.99317834 -12491.00334951
 -20749.61212175 -23204.94743459]

In [14]:
# Notice that "cross_val_score" by default provides "negative" values for "mse" to clarify that mse is error.
# in order to calculate root mean square error (rmse), we have to make them positive!
mse_list_positive = -accuracy_list

# using numpy sqrt function to calculate rmse:
rmse_list = np.sqrt(mse_list_positive)
print(rmse_list)

[ 153.7754992   178.89394627  188.31527914  193.20353826  119.75525901
  183.38039983  177.85385343  111.76315739  144.04725656  152.331702  ]

In [15]:
# calculate the average RMSE as final result of cross validation:
print(rmse_list.mean())

160.331989107